* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.TopmainDiv {
  width: 100%;
  margin-bottom: 2rem !important;
  /* height: 20rem;
  background-color: aqua; */
  /* border: 1px solid gray; */
}
.maxWidth {
  max-width: 1400px;
  padding: 1rem;
  margin: auto;
}

.featureDiv h1 {
  text-align: center;
  /* background-color: bisque; */
}
.categoryDiv {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 15px;
}
.categoryName {
  height: 43px;
  border-radius: 30px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px 25px;
  font-weight: 600;
  cursor: pointer;
}
.categoryName_active {
  background-color: #000000;
  color: white;
}

.FeatureMainCartDiv {
  /* display: flex; */
  justify-content: center;
  flex-wrap: nowrap; /* prevents cards from wrapping */
  overflow-x: auto; /* enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* improves touch scrolling on iOS devices */

  scroll-behavior: smooth; /* adds smooth scrolling effect */
  margin: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 0 1rem;
}
Div
/* Hide scrollbar for Chrome, Safari and Opera */
.FeatureMainCartDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.FeatureMainCartDiv {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.categoryDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categoryDiv {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* --------------------------------------------search css  */
.search-container {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.search-container span {
  margin: auto;
}

#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  padding-left: 50px;
  border: 1.5px solid #979797;
  border-radius: 50px;
}

#search-bar:focus {
  /* border: 1px solid #008abf; */
  transition: 0.35s ease;
}

/* #search-bar::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
} */

#search-bar::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

#search-bar:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: left;
  width: 75px;
  height: 75px;
  top: -38px;
  left: 16px;
  color: #7b7979;
  /* right: -45px; */
}
/* ------------------------------------------------- search css end  */

.FeatureCart {
  margin: 0 1.1rem;
  width: 293px !important;
  height: 342px;
  background: #fffefd;
  border: 1.5px solid #d7d7d7;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  display: inline-block;
}
.FeatureCart > p {
  font-weight: 500;
  /* white-space: ; */
  white-space: normal;
}

.image {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  object-fit: contain;
  overflow: hidden;
}
.image img {
  width: 100%;
  /* height: 100%; */
}
.NameLocationDiv {
  text-align: center;
}
.NameLocationDiv p {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  font-size: 1.5rem;
}

.location_div {
  color: #999797;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location_div p {
  font-size: smaller;
  padding: 0.5rem 0;
}
.location_div img {
  height: 17px;
}
.tagdiv {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0; */
  padding-bottom: 1rem;
}
.tagdiv > div {
  height: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  font-weight: 600;
}
.bookingNumber {
  background-color: rgb(250, 184, 62);
}
.bookingNumber p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  font-weight: 500;
  padding-right: 4px;
}
.bookingNumber img {
  width: 20px;
}
.ratingDiv {
  background-color: rgb(225, 225, 23);
}
.ratingDiv p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  font-weight: 500;
  padding-right: 4px;
}
.ratingDiv img {
  width: 20px;
}

/* /////////////////////////////// */

.flex {
  display: flex;
}
.flex > div {
  width: 50%;
  /* height: 20rem; */
  /* border: 2px solid black; */
  padding: 1rem;
}

.flex .imageDiv {
  display: flex;
  justify-content: right;
  padding-right: 3rem;
}
.revarse .imageDiv {
  /* flex-direction: row-reverse; */
  justify-content: left;
  padding-left: 3rem;
}

.blueColor {
  color: #4d70ec;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentDiv > p {
  margin: 1.4rem 0;
  font-size: 1.3rem;
}

.contentDiv > h1 {
  font-size: 2.1rem;
}

.maxWidth1 {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}

.imageDiv img {
  width: 100%;
}
.contentDiv a {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
  width: fit-content;
}
.contentDiv a p {
  font-weight: 600;
  color: #000000;
  font-style: italic;
}
.contentDiv a div {
  height: 15px;
  width: 14px;
  margin-left: 5px;
}
.contentDiv a div > img {
  width: 100%;
}

/* Testimonial  */
.slick-arrow{
  display: none !important;
}
.testimonial {
  background-color: #e4edff;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.testimonialHeading {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 1.6rem;
  /* word-spacing: ; */
}
.RedColor {
  color: #b23e32;
}
.slick-next::before {
  font-size: 40px !important;
}
.slick-prev::before {
  font-size: 40px !important;
}
.slider {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
.box {
  min-height: 10rem;
  padding: 1rem;
}
.testimonialContent {
  /* max-width: 379px; */
  width: 100%;
  /* height: 271px; */
  /* border: 2px solid black; */
  border-radius: 20px;
  margin: auto;
  padding: 1.5rem;
  /* box-shadow: 0px 10px 30px rgba(190, 190, 190, 0.25); */
  background-color: white;
  /* padding-left: 1.5rem; */
}

.meassageDiv {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.personInfo {
  display: flex;
  /* justify-content: ; */
  align-items: center;
  position: relative;
}
.testimonialImageDiv {
  height: 60px;
  width: 60px;
  margin: 0 10px 0 0;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}
.testimonialImageDiv > img {
  width: 100%;
}
.TestimnialPersonName {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 21px; */

  color: #000000;

  /* text-align: center; */
  /* margin-top: 11px; */
}
.testimonialPersonPost {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 19px; */
  /* text-align: center; */
}
.svgDiv {
  position: absolute;
  right: 0;
  transform: rotate(180);
  fill: #b23e32;
}

/*--------------------------------------- CSs for FAqs Sections  */
.faqs {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-button {
  background-color: #f7f9ff;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px 20px 0px 0px;
  padding: 1.4rem 20px;
}

.accordion-button:hover {
  background-color: #eff1fa;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(190, 190, 190, 0.25);
  border-radius: 0px 0px 20px 20px;

  /* padding: 2rem 20px; */
}

.accordion-content p {
  margin: 2rem 20px;
}

.accordion-item.active .accordion-button {
  background-color: #eff1fa;
}

.accordion-item.active .accordion-content {
  max-height: 500px;
  /* padding: 2rem 20px; */
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-item.active .arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transform: rotate(180deg);
}
.arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.faqs > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* css for fotter  */
.FooterDiv {
  border-top: 3px solid #f5f5f5;
}
.footer {
  background: #ffffff;
  /* border: 1px solid #FFFFFF; */
  padding: 50px 0;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logoContiner-col > div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
}
.logoContiner-col > div > h5 {
  position: relative;
  right: -13px;
  max-width: 230px;
}
.logoContiner-col > div img {
  /* width: 70%; */
  transform: scale(0.8);
}
.footer-col h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-col ul li {
  margin-bottom: 12px;
}
.footer-col ul li a {
  color: black;
  text-decoration: none;
}
.socialMediaDiv > div ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
}
.socialMediaDiv > div ul img {
  width: 50%;
}
.endDiv {
  background: #1c2d40;
  border-radius: 0px 0px 20px 20px;
  /* height: 70px; */
  padding: 1.5rem 1rem;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}
.endDiv > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 786px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 30px;
    align-items: normal;
  }
}

/* for mobile view  */

@media screen and (max-width: 900px) {
  .categoryDiv {
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 786px) {
  .flex > div {
    width: 100%;
  }
  .flex {
    flex-wrap: wrap;
  }
  .revarse {
    flex-direction: column-reverse;
  }
  .flex .imageDiv {
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  .contentDiv > h1 {
    font-size: 1.9rem;
  }
  .endDiv > div p {
    font-size: 0.6rem;
  }
  .endDiv {
    padding: 1rem;
  }
}
