.mainLoginDiv {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 100vh;
    display: flex;
}

main>div {
    width: 50%;
    display: inline-block;
    min-height: 100vh;
}

.logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.LogoimageDiv{
    height: 35px;
    width: 35px;
}
.logoDiv h1{
    font-size: 1.2rem;
}
.MainlogodivBox{
    margin-top: 40px;
}
.LogoimageDiv img {
    width: 100%;
    height: 100%;
}

.MainlogodivBox {
    /* height: 40rem; */
}

.greenScreen {
    background-color: #756aff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greenScreen div{
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}
.greenScreen div img{
    width: 100%;
}

.MainlogodivBox>h1 {
    text-align: center;
}

.MainlogodivBox>h5 {
    text-align: center;
    color: grey;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.MainlogodivBox form {
    display: flex;
    flex-direction: column;

}

.MainlogodivBox form input {
    margin-bottom: 1rem;
    border: 2px solid grey;
    height: 2.5rem;
    border-radius: 5px;
    padding: 4px;
    outline: none;
}

input:focus {
    border: 2px solid rgb(130, 16, 236);
}

.MainlogodivBox form label {
    margin-bottom: 7px;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.MainlogodivBox form>p {
    text-align: right;
    margin-top: -9px;
    color: grey;
    font-size: 0.9rem;
}

.MainlogodivBox form>button {
    background-color: rgb(53, 53, 241);
    height: 2.5rem;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.or {
    margin: 2rem 0;
    text-align: center;
}

.Google {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    gap: 10px;
    height: 2.5rem;
    border-radius: 5px;
    /* padding: 4px; */
    cursor: pointer;
}

.googleImageDiv {
    height: 1.7rem;


}

.googleImageDiv img {
    height: 100%;
}

.linkText{
    color: blue;
    cursor: pointer;
}

.youdont{
    color: grey;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.greyColor{
    color: grey;
}

.Forget{
    margin-bottom: 2rem;
}
@media screen and (max-width: 786px) {
    .mainLoginDiv {
        padding: 1rem;
    }

    .mainLoginDiv>div {
        width: 100%;
    }
    .greenScreen{
        display: none;
    }
    main>div{
        width: 100%;
    }
    .MainlogodivBox{
        margin-top: 80px;
    }
    .logoDiv {
        justify-content: left;
        gap: 7px;
    }
    .LogoimageDiv{
        height: 35px;
        width: 35px;
    }
    .logoDiv h1{
        font-size: 1.3rem;
    }
    .mainLoginDiv {
        align-items: flex-start;
    }
    
}